/* Reset CSS */

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
body, html {
	background-color: #0e0e0e;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Style */

.App {
	font-family: sans-serif;
	color: rgba(255, 255, 255, 0.87);
}

.App .workflow {
	display: flex;
	padding: 0 24px;
	padding-top: 16px;
    overflow-y: hidden;
	height: calc(100vh - 72px);
}

/* ---------- Scrollbar ----------*/

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #424345 #232326;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  *::-webkit-scrollbar-track {
	background: #232326;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: #424345;
	border-radius: 20px;
	border: 2px solid #232326;
  }
