.task-list {
    width: calc(100% / 4);
    min-width: 160px;
    border: 1px solid #fff;
    padding: 0 8px;
}

.task-list-title {
    border: 1px solid #fff;
    padding: 8px;
}

.task-list-content {
    border: 1px solid #fff;
    padding: 8px;
}

.plus-button {
    border: 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.282);
    cursor: pointer;
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bi-plus-lg {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .task-list {
        width: calc(100% / 2);
    }
}

@media (max-width: 480px) {
    .task-list {
        width: 100%;
    }
}
